* {
    font-family: 'Nunito Sans';
    box-sizing: border-box;
  }
  h1 {
    color:rgba(175, 47, 47, 0.5);
    font-size: 50px;
    line-height: 30px;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }
  label {
    word-break: break-all;
    padding: 10px 30px 10px 10px;
    transition: 0.5s;
  }
  #todoInput {
    padding: 10px;
    width: 470px;
    font-size: 20px;
    border: 1px solid #ccc;
  }
  #add {
    padding: 10px;
    font-size: 20px;
  }
  .todo-list {
    width: 470px;
    min-height: 50px;
    box-shadow: rgb(64 0 0 / 16%) 0px 1px 8px 1px;
  }
  .todo-list li {
    list-style: none;
    padding: 15px 10px;
    font-size: 22px;
    color: #444;
  }
  .list-item input[type="checkbox"] {
    margin-right: 15px;
    height: 16px;
    width: 16px;
}
  #list li {
    position: relative;
    border-bottom: 1px solid #eee;
  }
  
  #list li i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(172, 52, 52);
    cursor: pointer;
    visibility: hidden;
  }
  #list li:hover i {
    visibility: visible;
  }
  
  #list li i:hover {
    color: darkred;
  }
  
  .completed:checked ~ label { 
    text-decoration: line-through;
    color: #bbb;
  }
  .todo-footer {
    padding-left: 15px;
    color: #777;
    font-size: 16px;
  }