body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background: beige;
}
main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgb(179 176 176) 0px 0px 10px 3px;
  background: beige;
}
.arenaPlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.chooseHand, .battlefield, .scores {
  flex-grow: 1;
  height: 132px;
}
.hands {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
}
.hands div {
  width: 50px;
  height: 50px;
  padding: 15px;
  margin:0 5px;
  background: white;
  border: 1px solid #333;
  border-radius:50px;
}
.hands div img {
  width: 100%;
}
.hands div:hover {
  transform: scale(1.2);
  filter: blur(1px);
  cursor: pointer;
  transition: 0.5s;
}
.battlefield {
  display: flex;
  padding-left: 0;
  justify-content: space-evenly;
  align-items: center;
}
.battlefield div img {
  width: 50%;
}
